-
  var header = '#recent clients'
  var clientList = [
    "asset/image/clients/amazon.jpg",
    "asset/image/clients/uber.jpg",
    "asset/image/clients/canute.png",
    "asset/image/clients/parcelforce-logo.png",
    "asset/image/clients/sfd_logo.jpg",
    "asset/image/clients/kavanagh.png",
  ]

#client
.client
  .client__header=header
  .client__list
    each client in clientList
      .client__image
        img.resize(src=client)