$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-gumbo: #c182f5;
$color-bermuda-gray: #7a8da5;
$color-fiord: #415a67;
$color-pelorous: #42bcbd;
$color-charm: #d76b93;
$color-affair: #7e4b83;
$color-conffetti: #eacb5f;
